<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>"Get to the Show!"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="inplay">
    <h1 class="base_heading">Get to the Show, Dude!</h1>
  <section class="content">

    <h1>{{ scene['title'] }}</h1>
      <p class="intro">{{ scene['intro'] }}</p>
  <div>
    <form method="post">
        <label for="action">What do you do?</label>
        <input class="act" type="text" name="action" id="action" />
        <input class="act_button" type="submit" value="Submit" />
    </form>
  </div>
  {% if error %}
    <p class=error>{{ error }}</p>
  {% endif %}
</div>
  </body>
  </section>

  </body>
</html>
