<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>"Get to the Show!"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="inplay">
    <h1 class="base_heading">Get to the Show, Dude!</h1>
  <section class="content">

    <h1>{{ scene['title'] }}</h1>
      <p class="intro">{{ scene['intro'] }}</p>

  <div class="restart">
    <a class="start_button" href="{{ url_for('scenes.wintickets')}}">Try Again</a>
  </div>
</div>
  </body>
  </section>
