<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Welcome to Get to the SHow</title>
  </head>
  <body>
    <h1>Dude.....you made it!</h1>

      <h2>HELLS TO THE FRICKING YEAH!!!!!!!</h2>

        <p>You made it in....</p>
        <p>Kate pushed you through to the front....</p>
        <p>And you totally got your ass kicked in the pit.</p>

      <h2>ABSOLUTELY RIGHTEOUS<h2>
  </body>
</html>
