body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  background-color: black;
  font-size: 32px;
  font-family: 'Sigmar One';
  color: orange;
}

.content {
  margin: 0;
}

div {
  display: inline-block;
  margin: 0;
  width: 50%;
}
 .inplay {
   width:60%;
   margin: 0;
 }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.base_heading {
  font-family: 'Sigmar One', cursive;
  font-size: 28px;
}

h2 {
  font-family: sans-serif;
  font-size: 28px;
}

p {
  font-family: sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 20px;
  width: 550px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {

}

.act {
  margin: 1em;
  padding: 1em;
}

.act_button {
  margin: 1em;
  padding: 1em;
}

.restart {
  margin-top: 40px;
}

.start_button {
  background-color: maroon;
  color: white;
  border-radius: 30%;
  margin-top: 40px;
  padding: 20px;
  text-decoration: none;
}
